
.product-row{
	width:100%;
	display:flex;
	justify-content:center;

}
.product-container{
	width: 10%;
	margin:1%;
	text-align: center;
}
.product-itens{
	width:100%;
}
.product-container img:hover{
	border:4px solid #4B0E0E;
}
